.chartWrapper {
  margin: 15px 0px;
}
/* .chartLegends {
  padding: 0 20px 0 40px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chartLegends > li {
  display: flex;
  align-items: center;
  padding: 0 5px;
  list-style: none;
  font-size: 12px;
  color: #4a4a4a;
  font-weight: bold;
}
.chartLegends > li > span {
  width: 30px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
}
.chartLegends > li > span.line {
  width: 30px;
  height: 4px;
  display: inline-block;
  margin-right: 5px;
} */
.one-cust-detail {
  max-height: 700px;
  overflow: auto;
  border-bottom: none;
  scrollbar-width: none;
}
.top-contacts {
  max-height: 300px;
  overflow: auto;
  border-bottom: 1px solid #000000;
  scrollbar-width: none;
}
.top-contacts-table {
  table-layout: fixed;
  margin: 0;
  border: 1px solid #000000;
  border-top: none;
  border-bottom: none;
  &.footer {
    border-bottom: 1px solid #000000;
  }
}
.footer th {
  font-weight: normal;
}
.recent-activities .top-contacts-table {
  border: solid 1px #000000;
}
.top-contacts-table.table-hover tbody tr:hover {
  background-color: #a9a9a9;
}
.top-contacts-table td,
.top-contacts-table th {
  font-size: 12px;
  word-break: break-word;
  padding: 5px;
  border: none;
  border-right: solid 1px #000000;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom: none;
}
.top-contacts-table th {
  vertical-align: middle !important;
  background: #c5c5c5;
  border-top: solid 1px #000000;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ebebeb;
}
.table-hover tbody tr:hover {
  background-color: #ebebeb;
}
.heading1 {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  fill: #333333;
  margin: 20px 0;
  text-align: center;
}
.recent-activities {
  margin-bottom: 45px;
}

.modal {
  &-content {
    border: none;
    border-radius: 2px;
  }
  &-body {
    padding: 35px;
    color: #7b7b7b;
  }
  &-footer {
    padding: 0 30px 25px 30px;
    border: none;
    button,
    button:hover,
    button:active,
    button:focus,
    button:visited {
      color: #000000;
      background: #a9a9a9;
      border-color: #a9a9a9;
      border-radius: 2px;
      padding: 3px 14px;
    }
  }
}
